body {
  margin: 5px;
}

.main {
  margin: 0 auto;
  background-color: rgb(4, 99, 83);
  border-radius: 10px;
}

h3 {
  font-size: 28px;
  font-weight: bolder;
  color: #fff;
}
h4 {
  color: #fff;
  font-size: 26px;
}
text {
  color: #fff;
}

.pl {
  margin-left: 10px;
}

.playaFrame {
  margin: 4%;
}
.playaFrame img {
  margin-left: 70px;
  height: 70px;
  width: 70px;
}
#heRow {
  padding-top: 1px;
  margin: 5px;
}
#garyBox {
  background-color: royalblue;
  border-radius: 10px;
}
#maniBox {
  background-color: cornflowerblue;
  border-radius: 10px;
}
#jellyBox {
  background-color: turquoise;
  border-radius: 10px;
}
#choosey {
  margin: 0 auto;
}